<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KostenManager</title>
</head>
<body>
<h1>Willkommen beim KostenManager</h1>

<p>Erstelle zuerst deine Gruppe.</p>
<p>Personen:</p>
<ul>
    <li th:each="person : ${personen}"
        th:text="${person}">
    </li>
</ul>

<form action="/person-hinzufuegen" method="post">

    <input name="name">

    <button>Hinzufügen</button>

</form>
<form action="/gruppe-erstellen" method="post">
    <button>Gruppe erstellen</button>
</form>

</body>
</html>