<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ausgaben</title>
    <link rel="stylesheet" href="/CSS/style.css">

</head>

<body>

<header>
    <nav class="navigation">
        <img class="logo" src="/CSS/img/Logo.png">

        <div class="menu">
            <a class="menu-link" href="/startmenue">Startmenü</a>
            <a class="menu-link" href="/dashboard">Dashboard</a>
            <a class="menu-link" href="/budgets">Budgets</a>
            <a class="menu-link" href="/schulden">Schulden</a>
            <a class="menu-link" href="/personen">Personen</a>
            <a class="menu-link" href="/logout">Logout</a>
        </div>
    </nav>
</header>

<main>
    <div class="button-container">
        <button class="button" onclick="modalOeffnen()">
            Ausgabe hinzufügen
        </button>
    </div>

    <div class="ausgaben-liste">
        <div th:each="ausgabe : ${ausgaben}" class="ausgabe-box">
            <h3 th:text="${ausgabe.name()}">Name</h3>

            <p>
                Betrag:
                <span th:text="${ausgabe.betrag()}">0</span> €
            </p>

            <p th:text="${ausgabe.ausgabeArt()}">Ausgabenart</p>
        </div>
    </div>
</main>

<div id="ausgabeModal" class="modal">
    <div class="modal-inhalt">
        <h2>Ausgabe hinzufügen</h2>

        <form action="/ausgaben-hinzufuegen" method="post">

            <label>Person</label>

            <select name="name" required>

                <option value="">
                    Person auswählen
                </option>

                <option th:each="person : ${personen}"
                        th:value="${person}"
                        th:text="${person}">
                </option>

            </select>

            <label>Betrag</label>

            <input
                    name="betrag"
                    type="number"
                    step="0.01"
                    min="0.01"
                    required>

            <label>Ausgabenart</label>

            <input
                    name="ausgabe"
                    required>

            <div class="modal-buttons">

                <button
                        type="submit"
                        class="button button-save">
                    Speichern
                </button>

                <button
                        type="button"
                        class="button button-close"
                        onclick="modalSchliessen()">
                    Abbrechen
                </button>

            </div>

        </form>
    </div>
</div>

<script>
    function modalOeffnen() {
        document.getElementById("ausgabeModal").style.display = "flex";
    }

    function modalSchliessen() {
        document.getElementById("ausgabeModal").style.display = "none";
    }
</script>

</body>
</html>