<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrieren</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>

<main>
    <div class="modal-inhalt" style="margin: 100px auto;">
        <h2>Account erstellen</h2>

        <p th:if="${fehler}" th:text="${fehler}" style="color: red;"></p>

        <form action="/registrieren" method="post">
            <label>Benutzername</label>
            <input name="username" required>

            <label>Passwort</label>
            <input name="password" type="password" required>

            <button class="button button-save" type="submit">
                Registrieren
            </button>
        </form>

        <p style="margin-top: 24px;">
            Du hast schon ein Konto?
        </p>

        <a class="button" href="/login" style="display: inline-block; text-decoration: none;">
            Zum Login
        </a>
    </div>
</main>

</body>
</html>